<body>
  CHREST is a cognitive architecture for modelling processes of human perception,
  memory and learning. This Java-based implementation of CHREST provides a graphical application and library for running a variety of CHREST models and experiments. Currently, the graphical interface supports a range of domain-types for demonstration and test purposes. Cognitive models can be developed using a range of languages.
  <p>
  For more information on CHREST, see:   <a href="http://chrest.info">http://chrest.info</a>
</body>
